#flashvim_info_panel{ bottom:15px; left: 15px; z-index: 2147483647; position: fixed; display: none}
#flashvim_info{ padding: 0 10px; color:#fff; background:#0000BF; font-size: 72px; font-family: Arial, Helvetica, sans-serif; line-height:72px; height: 82px;  background-image: linear-gradient(134deg, rgba(0, 0, 119, 1), #9C27B0); opacity:0.9 }
#flashvim_info .success{color: greenyellow}
#flashvim_info .warn {color: orange}
span.flashvim_label{/*!important: top priority*/
    box-sizing: border-box !important;
    z-index:2147483647 !important;
	position: absolute !important; 
	text-indent: 0 !important;
	padding: 2px 4px !important; 
    letter-spacing: 0 !important;
	line-height: 12px !important; 
	font-size: 12px !important;
    height: 15px !important;
    font-family: monospace !important;
    line-height: 8px !important;
    border-radius: 4px !important;
    background: #FFEB3B !important;
    color: black !important;
	border: 1px solid black !important; 
    text-shadow: none !important;
    font-weight: bold !important;
    text-align: center !important;
}
a span.flashvim_label {
    background:red !important;
    text-shadow: 1px 1px 0px #333 !important;
	color: #fff !important;
	border: 1px solid #fff !important; 
} 
#flashvim_options input{ border: 1px solid #000; padding:2px 5px; font-size:12px}

#flashvim_options .link input{width: 500px;}
#flashvim_options .key input{}
#flashvim_options .new input{border: 1px solid darkred;}
#flashvim_options tr button{color:red;cursor:pointer}
#flashvim_options .box {
    font-size: 13px;
    border: 1px solid #000;
    float: left;
    width: 300px;
    margin-right: 20px;
    height: 150px;
    background: #ebebeb;
    padding: 15px;
}
#flashvim_seo_box{
    background: white;
    z-index: 9999999;
    position: relative;
}
#flashvim_seo_box .serp-preview{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.12);
    background-color: #fff;
    border: 1px solid #e7e7e7;
    padding: 30px;
    max-width: 700px;
}
#flashvim_seo_box .serp-title{
    color: #1a0dab;
    cursor: pointer;
    font-family: arial,regular;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    visibility: visible;
    white-space: nowrap;
}
#flashvim_seo_box .serp-description{
    color: #545454;
    font-family: arial,regular;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    visibility: visible;
    word-wrap: break-word;
}
#flashvim_seo_box .serp-url{
    color: #006621;
    font-family: arial,regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    visibility: visible;
}
#flashvim_seo_box .serp-arrow{
    border-bottom-color: #006621;
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 4px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 4px;
    border-top-color: #006621;
    border-top-style: solid;
    border-top-width: 5px;
    color: gray;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: 700;
    height: 0;
    position: absolute;
    line-height: 27px;
    margin-left: 3px;
    margin-top: 6px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    visibility: visible;
    white-space: nowrap;
    width: 0;
}
